/* src/components/Footer.css */
.app-footer {
  background-color: #4a4a4a;
  color: #c0c0c0;
  padding: 2rem 2.5rem;
  text-align: center;
  font-size: 0.85rem;
  margin-top: auto; /* Empuja el footer al fondo */
}

.app-footer strong {
  color: #ffffff;
}

.app-footer p {
  margin-bottom: 0.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 45px;
  width: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: #a00000;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links li a.active {
  color: #a00000;
}

